<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="landing.css">
    <title>LandinPage - Odraude Mendez Aguirre</title>
</head>
<body>
    <header>
        <h1>Formula de longitud de la onda <br>
            Por: Odraude Mendez Aguirre <br>
            Matricula: S19004863 ISW
        </h1>
    </header>
    <div>
        <h1>La formula para determinar la longitud de la onda es la siguiente:</h1>
        <div class="contenedor">
            <section>
                <img class="imagen" src="imagenes/formulaOnda.jpg" alt="Formula de la longitud de onda">
            </section>
            <section class="texto">
                <h1>Donde: </h1>
                <h2>λ: es la longitud de onda, se mide en metros (m)</h2>
                <h2>V: es la Velocidad de la onda, se mide en metros sobre segundos (m/s)</h2>
                <h2>F: es la frecuencia de la onda, se mide en Hercios (Hz), lo que se traduce en 1/s</h2>
                <a href="ui/ui.component.html">Calculadora</a>
            </section>
        </div>
    </div>
</body>
</html>
<router-outlet></router-outlet>